{#
/**
 * @file
 * Custom element for displaying warning for Vault Lease State Plugin.
 */
#}
{{ attach_library('vault/vault.cleartext-lease-warning') }}
{#
  Most of core-provided js assumes that the CSS class pattern js-form-item-[something] or
  js-form-type-[something] exists on form items. We have to keep them.
#}
{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-type-' ~ type|clean_class,
    'form-type--' ~ type|clean_class,
    'js-form-item-' ~ name|clean_class,
    'form-item--' ~ name|clean_class,
  ]
%}
{%
  set description_classes = [
    'form-item__description',
  ]
%}
<div{{ attributes.addClass(classes, 'vault-lease-cleartext-warning') }}>
  <div>
    {{ 'Warning:'|t }}
  </div>
  <div{{ description.attributes.addClass(description_classes) }}>
    <p>
      {{ 'Leases (dynamic secrets) will be stored in cleartext using the Drupal Key-Value service.'|t }}
    </p>
    <p>
      {{ 'It is recommended to install the drupal/encrypt module and use the Encrypted State plugin for more secure storage of leases at rest. The Encrypt module may use the Transit Encryption plugin for encryption of leases.'|t }}
    </p>
    <p>
      {{ 'If the site does not make regular use of Leases(dynamic secrets) consider the Memory Array plugin.'|t }}
    </p>
  </div>
</div>
